<!-- Gif slider -->

	<!-- Gif with selector icons -->
	<a class="arrow prev" ng-click="prevSlide()">
		<i class="fa fa-chevron-left"></i>
	</a>

	<a ng-href="{{results.url}}" target="_blank">
		<img class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="result in results" ng-src="{{result.gif}}">
	</a>

	<a class="arrow next" ng-click="nextSlide()">
		<i class="fa fa-chevron-right"></i>
	</a>

	<!-- Link to gif at Giphy.com -->
	<div class="wrap">
		<a ng-href="{{results.url}}" target="_blank" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="results in results">{{results.bitly}}</a>
	</div>

<footer>
  <h5>Powered by <a href="http://giphy.com/">Giphy</a>.</h5>
</footer>
